@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.lg-1 {
  background: linear-gradient(to right, #ff7c7a, #66c4ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Typewriter__wrapper {
  background: linear-gradient(to right, #ff7c7a, #66c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
