@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "roboto";
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.lg-1 {
  background: linear-gradient(to right, #ff7c7a, #66c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lg-2 {
  background: linear-gradient(to right, #ff7c7a 0%, #66c4ff 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.Typewriter__wrapper {
  background: linear-gradient(to right, #ff7c7a, #66c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
