@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "roboto";
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.lg-1 {
  background: linear-gradient(to right, #ff2f2b, #31b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* text-shadow: 1px 1px 1px white; */
}

.lg-2 {
  background: linear-gradient(to right, #ff2f2b 0%, #31b0ff 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: linear-gradient(to right, #ff2f2b, #31b0ff);
}

.Typewriter__wrapper {
  background: linear-gradient(to right, #ff2f2b, #31b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: linear-gradient(to right, #ff2f2b, #31b0ff);
}
